PORT=3000

GENERATION_PROVIDER=mock

CYBERPHOTOBOOTH_API_URL=https://api.cyberphotobooth.ru/api
CYBERPHOTOBOOTH_API_KEY=
CYBERPHOTOBOOTH_STYLE=1029
CYBERPHOTOBOOTH_MODE=style_sdxl_zero
CYBERPHOTOBOOTH_POLL_INTERVAL_MS=3000
CYBERPHOTOBOOTH_MAX_ATTEMPTS=60
